#header {
  background: red;
  text-align: center;
}

#container {
  text-align: center;

  #form {
    background: blue;
  }

  .btn {
    display: inline-block;
    width:50%;
    padding: 0.5em 1em;
    text-decoration: none;
    background: red;
    /*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
  }
}

#footer {
  background: green;
  text-align: center;
}
